---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
  me?: boolean;
}

const {
  href,
  className,
  ariaLabel,
  title,
  disabled = false,
  me = false,
} = Astro.props;
---

<a
  href={disabled ? "#" : href}
  tabindex={disabled ? "-1" : "0"}
  class={`group inline-block ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
  rel={me ? "me" : ""}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
