<style>
  nav a {
    color: #E54B4B;
  }

  blockquote {
    font-family: serif;
    font-size: 1.1em;
    font-style: italic;
  }

  img {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    border: white 5px solid;
  }
</style>

<script defer data-domain="jbrr.dev" src="/js/script.outbound-links.js"></script>


{{- template "partials/templates/opengraph.html" . }}
{{- template "partials/templates/twitter_cards.html" . }}
{{- template "partials/templates/schema_json.html" . }}