<style>
  body {
    background-color: #1E1E22;
  }

  a {
    color: #dfa75e;
  }

  ul.blog-posts li a:visited {
    color: #84BCDA;
  }

  nav a {
    color: #E54B4B;
  }

  blockquote {
    font-family: serif;
    font-size: 1.1em;
    font-style: italic;
  }

  img {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
    border: white 5px solid;
  }
</style>

{{- template "partials/templates/opengraph.html" . }}
{{- template "partials/templates/twitter_cards.html" . }}
{{- template "partials/templates/schema_json.html" . }}