{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
<section class="h-card vcard" style="display: none;">
  <ul>
      <li class="p-name fn">
          <span class="p-given-name given-name">Jeff</span> <span class="p-family-name family-name">Ruane</span>
      </li>
      <li class="p-nickname nickname">
          jbrr
      </li>
      <li>
          <img src="{{ .Site.Params.hCardImage | absURL }}" alt="Photo of Jeff Ruane" title="Jeff Ruane" class="u-photo photo">
      </li>
      <li>
          <a class="u-email email" href="mailto:yo@jbrr.dev">yo@jbrr.dev</a>
      </li>
      <li>
          <a class="u-url url" href="https://jbrr.dev/">jbrr.dev</a>
      </li>
      <li>
          <address class="p-adr h-adr adr">
              <span class="p-locality locality">Denver</span>
              <abbr class="p-region" title="Colorado">CO</abbr>,
              <span class="p-country-name country-name">United States of America</span>
          </address>
      </li>
  </ul>
</section>
<section class="social" style="display: none;">
    <ul>
        <li><a href="https://twitter.com/jefbrr" rel="me">@jefbrr on Twitter</a></li>
        <li><a href="https://github.com/jbrr" rel="me">Github</a></li>
        <li><a href="https://mastodon.lol/@jbrr" rel="me">Mastodon</a></li>
        <li><a href="https://micro.jbrr.dev" rel="me">Micro.blog</a></li>
        <li><link rel="webmention" href="https://webmention.io/jbrr.dev/webmention" /></li>
        <li><link rel="pingback" href="https://webmention.io/jbrr.dev/xmlrpc" /></li>
    </ul>
</section>
{{- /* Footer custom content area end */ -}}
