{{ $mapStyle := .Get "mapStyle" | default "light-v10" }}
{{ $pinColor := .Get "pinColor" | default "cc7b28" }}
{{ $zoom := .Get "zoom" | default "3.75" }}
{{ $bearing := .Get "bearing" | default "0" }}
{{ $mapWidth := .Get "mapWidth" | default "300" }}
{{ $mapHeight := .Get "mapHeight" | default "200" }}

{{/*  This key is embedded in the request URL, no need to keep it a secret  */}}
{{ $key := "pk.eyJ1IjoiamJyciIsImEiOiJjazA3Zm1xdnAwMjBpM2RwNjl2NTUxbGkwIn0.Ni4SMpG0YZL87BIcaREAhQ" }}

{{ $coordX := .Get "coordX" }}
{{ $coordY := .Get "coordY" }}

<img src="https://api.mapbox.com/styles/v1/mapbox/{{- $mapStyle -}}/static/pin-s+{{- $pinColor -}}({{- $coordY -}},{{- $coordX -}})/{{- $coordY -}},{{- $coordX -}},{{- $zoom -}},{{- $bearing -}}/{{- $mapWidth -}}x{{- $mapHeight -}}?access_token={{- $key -}}">
