{{ $mapStyle := .Get "mapStyle" | default "light-v10"}}
{{ $pinColor := .Get "pinColor" | default "cc7b28" }}
{{ $zoom := .Get "zoom" | default "3.75" }}
{{ $bearing := .Get "bearing" | default "0" }}
{{ $mapWidth := .Get "mapWidth" | default "300" }}
{{ $mapHeight := .Get "mapHeight" | default "200" }}

{{ $mapboxApiKey := $.Page.Site.Params.mapboxApiKey }}

{{ $coordX := .Get "coordX" }}
{{ $coordY := .Get "coordY" }}

{{ $mapUrl := "https://api.mapbox.com/styles/v1/mapbox/{{- $mapStyle -}}/static/pin-s+{{- $pinColor -}}({{- $coordX -}},{{- $coordY -}})/{{- $coordX -}},{{- $coordY -}},{{- $zoom -}},{{- $bearing -}}/{{- $mapWidth -}}x{{- mapHeight -}}?access_token={{- $mapboxApiKey -}}" }}

{{ with $mapUrl }}
    <figure><img src={{.}}></figure>
{{ end }}